---
import { getCollection, type CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
    const rides = (await getCollection('blog')).filter(
        (post) => post.data.category === 'ride' && post.data.gpxUrl,
    );

    return rides.map((ride) => ({
        params: { slug: ride.id },
        props: { ride },
    }));
}

const { ride } = Astro.props as { ride: CollectionEntry<'blog'> };
const canonicalPath = `/article/${ride.id}/`;
const canonicalUrl = new URL(canonicalPath, Astro.site).toString();
---

<html lang='ko'>
    <head>
        <meta charset='utf-8' />
        <meta http-equiv='refresh' content={`0; url=${canonicalPath}`} />
        <link rel='canonical' href={canonicalUrl} />
        <title>{ride.data.title}</title>
    </head>
    <body>
        <p>
            이 라이딩 기록은
            <a href={canonicalPath}>article 페이지</a>
            로 이동했습니다.
        </p>
    </body>
</html>
